name: Tests

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Rust
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: "1.92"

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2

      - name: Run tests
        run: cargo test --all
